<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body ng-app="myApp">
<div  ng-controller="myCtrl" >
<p style="font-family: 'Gotham Pro',sans-serif;color: black;font-size: large;text-align: center"> Select release date</p>
        <select class="form-control" ng-model="selected">
            <option value="{{names.description}}" ng-repeat="(i,names) in names.data">
                {{names.released}}
            </option>
        </select>
    <br>
        <ul>
            <li ng-repeat="names in names.data | filter:selected">
                <div class="w3-panel w3-card" style="font-family: 'Gotham Pro',sans-serif;font-size: x-large;background-color: ghostwhite">
                    {{names.name}}
                    <p style="font-family: 'Gotham Pro',sans-serif;font-size: medium;color: gray">{{names.description}}</p>
                    <p style="color: orangered;font-family: 'Gotham Pro',sans-serif;">Rating IMDb :{{names.rating}}</p>
                    <p style="color: gray;font-family: 'Gotham Pro',sans-serif;font-size: small">Release date :{{names.released}}</p>
                </div>
            </li>
        </ul>

</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {
        $http({
            method : "GET",
            url : "http://localhost:3333/movies"
        }).then(function mySucces(data) {
            $scope.names = data;
            console.log($scope.names)
        }, function myError(response) {
            $scope.myWelcome = response.statusText;
        });
    });
</script>
</body>
</html>